.__kati{
    margin-left: -40px;
}

.__kati button{
    font-size: 12px;
    padding: 2px 10px;
}

.__kati1{
    margin-left: -40px;
    margin-top: -14px;
    font-size: 13px;
}

.__learn{
    margin: 0 auto;
    max-width: 780px;
    padding-left: 20px;
    padding-right: 20px;
}

.__learn h1{
    font-size: 36px;
}
p {
    font-size: 20px;
}
h2 {
    font-weight: 32px
}
